{% extends "layout.html" %}

{% block content %}


<div class="container mt-4" style="max-width: 700px;">

    <h2 class="text-center mb-4">Detalle del Producto</h2>

    <div class="card p-4 shadow">

        <div class="text-center mb-3">
            {% if producto.foto %}
                <img src="/static/uploads/{{ producto.foto }}" 
                     style="width:160px; height:160px; object-fit:cover; border-radius:10px;">
            {% else %}
                <img src="https://via.placeholder.com/160"
                     style="border-radius:10px;">
            {% endif %}
        </div>

        <p><b>ID:</b> {{ producto.id }}</p>
        <p><b>Nombre:</b> {{ producto.nombre }}</p>
        <p><b>Categoría:</b> {{ producto.categoria }}</p>
        <p><b>Cantidad:</b> {{ producto.cantidad }} {{ producto.unidad }}</p>
        <p><b>Estado:</b> {{ producto.estado }}</p>

        <a href="/" class="btn btn-secondary mt-3">⬅ Regresar</a>

    </div>

</div>

{% endblock %}
